@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*<h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <h1 id="header-text">Welcome to <br>  Datim To Do Application </h1>
    <p class="lead">
        Datim ToDo helps you manage your Todo tasks in a more engaging and effective way with its  <br>
        beautiful and simple design, Datim ToDo make it simple and easy to manage and organize your workload  <br>
        more effectively and efficiently
    </p>
    <a type="button" class="btn btn-outline-primary" class="nav-link" asp-area="" asp-controller="Register" asp-action="Registration">Start For Free</a>

</div>
