@using Microsoft.AspNetCore.Identity
@model IEnumerable<List.Models.Todo>

@inject SignInManager<IdentityUser> SignInManager
@*@inject UserManager<ApplicationUser> UserManager*@
@inject UserManager<IdentityUser> UserManager


@{
    ViewData["Title"] = "Home Page";
}



@{
    if (User.Identity.IsAuthenticated)
    {
        var user = await UserManager.GetUserAsync(User) as ApplicationUser;
        var firstName = user?.FirstName;

        <!-- Filter options -->



        <div class="text-center bg-primary" style="width: 70vw; height: 60vh; margin: 0 auto;">
            <div class="text-center text-start bg-light mt-4" style="width: 70vw; height: 7vh;">
                <form class="d-flex" style="width: 35vw; method="get" asp-action="FilteredTasks" asp-controller="Todo">
                    <input class="form-control me-sm-2" type="text" name="filter" placeholder="Search Task by title">
                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>

            <div class="text-center bg-dark" style="width: 70vw; height: 10vh;">
                <h4 class="text-light pt-2">Welcome, @firstName!</h4>
            </div>

            <div class="mt-4">

                <a class="btn btn-light" style="width: 30vw; height: 15vh; margin-right: 1rem; font-size: 18px" asp-area="" asp-controller="Todo" asp-action="Index">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-binoculars" viewBox="0 0 16 16">
                            <path d="M3 2.5A1.5 1.5 0 0 1 4.5 1h1A1.5 1.5 0 0 1 7 2.5V5h2V2.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5v2.382a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V14.5a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 14.5v-3a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5v3A1.5 1.5 0 0 1 5.5 16h-3A1.5 1.5 0 0 1 1 14.5V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882V2.5zM4.5 2a.5.5 0 0 0-.5.5V3h2v-.5a.5.5 0 0 0-.5-.5h-1zM6 4H4v.882a1.5 1.5 0 0 1-.83 1.342l-.894.447A.5.5 0 0 0 2 7.118V13h4v-1.293l-.854-.853A.5.5 0 0 1 5 10.5v-1A1.5 1.5 0 0 1 6.5 8h3A1.5 1.5 0 0 1 11 9.5v1a.5.5 0 0 1-.146.354l-.854.853V13h4V7.118a.5.5 0 0 0-.276-.447l-.895-.447A1.5 1.5 0 0 1 12 4.882V4h-2v1.5a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V4zm4-1h2v-.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5V3zm4 11h-4v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V14zm-8 0H2v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V14z" />
                        </svg>
                    </div>
                    View All Tasks
                </a>

                <a class="btn btn-light" style="width: 30vw; height: 15vh; font-size: 18px" asp-controller="Todo" asp-action="Create">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                        </svg>
                    </div>
                    Add New Task
                </a>
            </div>

            <div class="mt-3">
                <a class="btn btn-light" style="width: 30vw; height: 15vh; margin-right: 1rem; font-size: 18px" asp-action="FilteredTasks" asp-controller="Todo" asp-route-filter="IsComplete">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-all" viewBox="0 0 16 16">
                            <path d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992a.252.252 0 0 1 .02-.022zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486-.943 1.179z" />
                        </svg>
                    </div>
                    View Completed Tasks
                </a>

                <a class="btn btn-light" style="width: 30vw; height: 15vh; font-size: 18px" asp-action="FilteredTasks" asp-controller="Todo" asp-route-filter="PriorityLevel">

                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-up-right-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.854 10.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707l-4.096 4.096z" />
                        </svg>
                    </div>
                    View Tasks With High Priority
                </a>
            </div>

        </div>

        //<div class="text-center">
        //    <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
        //        <input type="checkbox" class="btn-check" id="btncheck1" checked="" autocomplete="off">
        //        <label class="btn btn-primary" for="btncheck1">  <a class="nav-link text-light" asp-area="" asp-controller="Todo" asp-action="Index">TodoList</a></label>

        //        <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
        //        <label class="btn btn-primary" for="btncheck1">    <a class="nav-link text-light" asp-controller="Todo" asp-action="Create">Create New</a></label>

        //        <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
        //        <label class="btn btn-primary" for="btncheck3">Checkbox 3</label>
        //    </div>
        //</div>


        //var user = await UserManager.GetUserAsync(User);
        //var userName = user != null ? user.FirstName : string.Empty;



        //<p>
        //    Welcome, <strong>@userName</strong>!
        //    <a asp-action="Create">Create New</a>
        //</p>
    }

    else
    {
        <div class="text-center mt-3">
            <img class="mt-4" src="https://i.pinimg.com/originals/52/6a/bf/526abf16cc3e74882fa7304abc0f841c.png" alt="Registartion Icon" width="150" height="150">
            <h1 id="header-text">Datim <br> Task Management System</h1>
            <p class="lead mt-4">
                Datim Task Management System make it simple and easy to manage and organize your <br> workload more effectively and efficiently
            </p>
            <div class="mt-4">
                <a type="button" class="btn btn-primary btn-lg" class="nav-link" asp-area="Identity" asp-page="/Account/Register">Start For Free</a>
            </div>
        </div>

        <br />
        <br />
    }
}