@using Microsoft.AspNetCore.Identity
@model IEnumerable<List.Models.Todo>

@inject SignInManager<IdentityUser> SignInManager
@*@inject UserManager<ApplicationUser> UserManager*@


@{
    ViewData["Title"] = "Home Page";
}



@{
    if (User.Identity.IsAuthenticated)
    {
        <div class="text-center mt-5">
            <h1>Welcome, @User.Identity.Name!</h1>
        </div>


        <div class="text-center">
            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                <input type="checkbox" class="btn-check" id="btncheck1" checked="" autocomplete="off">
                <label class="btn btn-primary" for="btncheck1">  <a class="nav-link text-light" asp-area="" asp-controller="Todo" asp-action="Index">TodoList</a></label>

                <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
                <label class="btn btn-primary" for="btncheck1">    <a class="nav-link text-light" asp-controller="Todo" asp-action="Create">Create New</a></label>

                <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
                <label class="btn btn-primary" for="btncheck3">Checkbox 3</label>
            </div>
        </div>


        //var user = await UserManager.GetUserAsync(User);
        //var userName = user != null ? user.FirstName : string.Empty;



        //<p>
        //    Welcome, <strong>@userName</strong>!
        //    <a asp-action="Create">Create New</a>
        //</p>
    }

    else
    {
        <div class="text-center mt-3">
            <img class="mt-4" src="https://i.pinimg.com/originals/52/6a/bf/526abf16cc3e74882fa7304abc0f841c.png" alt="Registartion Icon" width="150" height="150">
            <h1 id="header-text">Datim To Do</h1>
            <p class="lead mt-4">
                Datim ToDo make it simple and easy to manage and organize your workload  <br>
                more effectively and efficiently
            </p>
            <div class="mt-4">
                <a type="button" class="btn btn-primary btn-lg" class="nav-link" asp-area="Identity" asp-page="/Account/Register">Start For Free</a>
            </div>
        </div>

        <br />
        <br />
    }
}