@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#header-text {
    margin-top: 5rem !important;
}

/*#footer-text {
    margin-top: 5rem;
}*/

#todo-table-header {
    margin-top: 2rem;
}

#login-grid2 {
    height: 65vh;
    border-radius: 30px;
    width: 50%;
    margin: 0 auto;
}

#registration-container {
    /*height: 60vh;*/
    border-radius: 30px;
    width: 70%;
    /*margin: 0 auto;*/
}
